img, button, br, .nav-link {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

::-moz-selection {
	background: #E9ECEF;
}

::selection {
	background: #E9ECEF;
}

html, body {
	height: 100%;
}

* {
	border-width: 2px !important;
}
.nav-link {
	margin-right: 0.25rem;
	border-bottom-width: 0px !important;
}

.row {
	min-height: 100%;
}

a {
	color: #9299a0 !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
	background-color: #343A40 !important;
}

.custom-checkbox .custom-control-label::before {
	border-radius: 0px;
	border-width: 2px;
}


.display-3 {
	font-size: 3.5rem;
}
@media (min-width: 768px) {
	.display-3 {
		font-size: 4.5rem;
	}
}